@font-face {
  font-family: Gilmer;
  src: url(Gilmer\ Regular.otf);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: inherit;
  font-family: Gilmer;
  background-color: rgb(5, 8, 24);
  background: linear-gradient(15deg, rgb(10, 10, 10) 0%, rgb(2, 0, 19) 100%);
}
.gotop {
  font-family: Gilmer;
  position: fixed;
  display: flex;
  top: 10px;
  left: 10px;
  font-size: 35px;
}
.title {
  text-shadow: 0px 0px 75px rgb(255, 255, 255);
  height: auto;
  width: auto;
  font-size: 1.5cm;
  transition-duration: 2.25s;
  position: absolute;
  left: 50%;
  top: 4.5cm;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgba(24, 24, 24, 0);
}
.title:hover {
  text-shadow: rgba(255, 255, 255, 0.7);
  cursor: default;
}
.welcome {
  height: auto;
  width: auto;
  font-size: 0.5cm;
  transition-duration: 1.5s;
  position: absolute;
  left: 50%;
  top: 8cm;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid rgba(24, 24, 24, 0);
}
.title::selection {
  background-color: rgba(0, 0, 0, 0);
}
.welcome::selection {
  background-color: rgba(0, 0, 0, 0);
}
#photo {
  padding: 5px;
  display: flex;
  justify-self: center;
  margin: 0 auto;
  transition-duration: 1.75s;
  width: 15%;
  height: auto;
  border-radius: 20px;
  border: solid 1px rgba(250, 250, 250, 0.1);
}
#photo:hover {
  /* width: 1140px; */
  width: 55%;
  height: auto;
  /* height: 855px; */
  display: flex;
  justify-content: center;
  border: solid 1px rgba(250, 250, 250, 0.5);
}
@media only screen and (max-device-width: 480px){
  #photo {
    padding: 5px;
    display: flex;
    justify-self: center;
    margin: 0 auto;
    transition-duration: 1.75s;
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: solid 1px rgba(250, 250, 250, 0.1);
  }
  #photo:hover {
    /* width: 1140px; */
    width: 90%;
    height: auto;
    /* height: 855px; */
    display: flex;
    justify-content: center;
    border: solid 1px rgba(250, 250, 250, 0.5);
  }
  .title {
    text-shadow: 0px 0px 75px rgb(255, 255, 255);
    height: auto;
    width: auto;
    font-size: 1cm;
    transition-duration: 2.25s;
    position: absolute;
    left: 50%;
    top: 4.5cm;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgba(24, 24, 24, 0);
  }
  .title:hover {
    text-shadow: rgba(255, 255, 255, 0.7);
    cursor: default;
  }
  .welcome {
    height: auto;
    width: auto;
    font-size: 0.5cm;
    transition-duration: 1.5s;
    position: absolute;
    left: 50%;
    top: 7.5cm;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgba(24, 24, 24, 0);
  }
}
.box {
  background-color: rgba(0, 0, 0, 0.5);
  height: 250px;
  width: 550px;
  transition-duration: 2.25s;
  position: absolute;
  left: 50%;
  top: 52.5%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.spacer {
  height: 9cm;
}
.photos {
  
}

/* @media only screen and (max-height){
  
} */
